<h1>Home page</h1>

<p>Here you can find links to samples using differents webpack resources.</p>

<ul>
  <li><%= link_to 'Stimulus', stimulus_path %></li>
  <li><%= link_to 'Vue', vue_path %></li>
</ul>