<h1>Stimulus page</h1>

<!--HTML from anywhere-->
<div data-controller="hello">
  <input class="form-control" data-target="hello.name" type="text">

  <button class="btn" data-action="click->hello#greet">
    Greet
  </button>

  <br><br>
  
  <span data-target="hello.output">
  </span>
</div>